@use "./_variables.scss";

section.about-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

h2.about-headline {
  display: flex;
  align-items: flex-start;
  width: 100%;
  // padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

div.about-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;

    div.tech-stack {
      flex: 1 0 50%;
    }

    div.bio-blocks {
      flex: 1 0 50%;
    }
  }
}

div.tech-stack {
  background-color: var(--panel-color);
  backdrop-filter: var(--panel-backdrop);
  border-radius: 2rem;
  flex: 1 0 30%;
  display: flex;
  flex-flow: column;
  aspect-ratio: 1 / 2;
  padding: 1rem;
  box-sizing: border-box;
  p.label {
    width: 100%;
    min-width: 100px;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .tech-stack-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  img.tech-icon {
    width: 30%;
    height: 50px;
    display: block;
    transition: all 500ms;
    filter: grayscale(100%);
    &:hover {
      transition: all 500ms;
      filter: grayscale(0%);
    }
  }
}

div.bio-blocks {
  flex: 1 0 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

div.bio-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--panel-color);
  backdrop-filter: var(--panel-backdrop);
  p.label {
    width: 100%;
    min-width: 100px;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

div.bio-block.xp-container {
  p.label {
    margin-bottom: 0;
  }
}

.dateBlock {
  display: flex;
  // align-items: flex-end;
  align-items: center;
  gap: 1rem;
  p {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    span {
      display: block;
      font-size: 0.75rem;
      font-weight: 400;
    }
  }

  .yearsBlock {
    font-size: 6rem;
    font-weight: 800;
  }
}
