// @import url("https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1f2b3b;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #1f2b3b;
  color: #fff;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  position: relative;
}
