---
import Layout from "../layouts/Layout.astro";
import { Main } from "../components/Main";
import { CodeBlock } from "../components/CodeBlock";
---

<Layout title="Roman Parkhomenko | Software Engineer">
  <Main>
    <CodeBlock title="renderIntro()">
      <div class="intro">
        <p>
          I'm a Colorado Springs based Software Engineer and Front End Web
          Developer focused on creating performant visual identities for
          projects of all sizes.
        </p>
      </div>
    </CodeBlock>
  </Main>
</Layout>
