---
import Layout from "../layouts/Layout.astro";
import { Main } from "../components/Main";
// import { CodeBlock } from "../components/CodeBlock";
// import Intro from "../components/Intro.astro";
import Body from "../components/Body.astro";
---

<Layout title="Roman Parkhomenko | Software Engineer">
  <Main>
    <Body />
  </Main>
</Layout>
