---
import Layout from "../layouts/Layout.astro";
import "../styles/_intro.scss";
import Experience from "../components/Experience.astro";
import About from "../components/About.astro";
import Canvas from "../components/Canvas.astro";
import Fun from "../components/Fun.astro";
---

<Layout title="Roman Parkhomenko | Software Engineer">
  <Canvas />
  <main>
    <section class="panel" id="introPanel">
      <div class="intro">
        <h1 class="intro-header" style={{ color: "#0099cc" }}>
          <div class="intro-header-hi">
            <span style={{ color: "white" }}> Hello, I'm</span>
          </div>
          <div class="intro-header-name">
            <span>Roman Parkhomenko.</span>
            <div class="emoji">👋</div>
          </div>
        </h1>
      </div>

      <div class="intro-buttons">
        <div class="button-container github">
          <a href="https://github.com/romanparkhomenko" target="_blank">
            <img src="/github.svg" alt="GitHub Logo" />
          </a>
        </div>
        <div class="button-container linkedin">
          <a
            href="https://www.linkedin.com/in/roman-parkhomenko/"
            target="_blank"
          >
            <img src="/linkedin.svg" alt="LinkedIn Logo" />
          </a>
        </div>
        <div class="button-container email">
          <a href="mailto:rsparkhomenko@gmail.com" target="_blank">💌</a>
        </div>
        <div class="button-container resume">
          <a href="/romanresume.pdf" target="_blank">
            <img src="/resume.svg" alt="Resume Logo" />
          </a>
        </div>
      </div>
    </section>

    <About />

    <Experience />

    <Fun />
  </main>
</Layout>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  gsap.defaults({
    ease: "power2.in",
    duration: 0.5,
  });

  const buttonsToHover = document.querySelectorAll(".button-container");
  buttonsToHover.forEach((button) => {
    let hoverAnimation = gsap.to(button, {
      paused: true,
      scale: 1.2,
      duration: 0.25,
      ease: "power3.out",
    });
    button.addEventListener("mouseenter", () => hoverAnimation.play());
    button.addEventListener("mouseleave", () => hoverAnimation.reverse());
  });

  let tl = gsap.timeline();
  tl.from(".intro-header-hi", { opacity: 0, y: 100 });
  tl.from(".intro-header-name", { opacity: 0, y: 100 });
  tl.from(".intro", {
    backgroundColor: "transparent",
    // backdropFilter: "saturation(180%) blur(0px)",
  });
  tl.from(".emoji", { autoAlpha: 0, width: 0, duration: 0.75 });
  tl.from(".emoji", {
    rotate: 50,
    duration: 0.1,
    yoyo: true,
    repeat: 10,
  });
  tl.from(
    ".intro-buttons",
    {
      autoAlpha: 0,
      y: 100,
    },
    "=-1"
  );
  tl.fromTo(
    ".button-container",
    {
      autoAlpha: 0,
      y: 100,
      boxShadow: "inset 6px 6px 9px #111821, inset -6px -6px 9px #233244",
    },
    {
      autoAlpha: 1,
      y: 0,
      boxShadow: "20px 20px 60px #233244, -20px -20px 60px #111821",
      stagger: 0.1,
    }
  );
  tl.to(".button-container", {
    autoAlpha: 1,
    y: 0,
    background: "rgba(26, 37, 50, 0.25)",
    boxShadow:
      "6px 6px 9px rgba(17,24,33,0.5), -6px -6px 9px rgba(35,50,68,0.5)",
    stagger: 0.1,
  });
</script>
