---
import "../styles/_experience.scss";
---

<section class="experience-panel" id="experiencePanel">
  <div class="job-container">
    <a class="job-logo" href="https://audienceplus.com" rel="nofollow">
      <div class="logo-wrapper">
        <img
          class="company-logo"
          src="/audienceplus.svg"
          alt="AudiencePlus Logo"
        />
      </div>
    </a>
    <div class="job-details">
      <div class="company">
        <p class="label">Company</p>
        <p class="company-name">AudiencePlus</p>
      </div>
      <div class="title">
        <p class="label">Title</p>
        <p class="job-title">Frontend Lead Engineer</p>
      </div>
      <div class="timeline">
        <p class="label">Timeline</p>
        <p class="time">2024 - 2022</p>
      </div>
      <div class="highlights">
        <p class="label">Highlights</p>
        <ul class="accomplishments">
          <li>Architected the entire frontend.</li>
          <li>
            Developed a rendering engine and customization pipeline for
            multimodal content.
          </li>
          <li>
            Built a custom CMS and analytics engine for managing content
            creation and consumption.
          </li>
          <li>
            Guided technical contract and offshore teams to ensure proper
            implementation.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="job-container">
    <a class="job-logo" href="https://physna.com" rel="nofollow">
      <div class="logo-wrapper">
        <img class="company-logo" src="/physna.svg" alt="Physna Logo" />
      </div>
    </a>
    <div class="job-details">
      <div class="company">
        <p class="label">Company</p>
        <p class="company-name">Physna/Thangs</p>
      </div>
      <div class="title">
        <p class="label">Title</p>
        <p class="job-title">Senior Software Engineer</p>
      </div>
      <div class="timeline">
        <p class="label">Timeline</p>
        <p class="time">2022 - 2021</p>
      </div>
      <div class="highlights">
        <p class="label">Highlights</p>
        <ul class="accomplishments">
          <li>
            Assisted in the rearchitecture of a legacy enterprise product.
          </li>
          <li>Developed a workflow feature for 3D model version control.</li>
          <li>
            Led initiative to migrate legacy Javascript code into Typescript.
          </li>
          <li>Got pretty decent at 3D printing!</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="job-container">
    <a class="job-logo" href="https://bombbomb.com" rel="nofollow">
      <div class="logo-wrapper">
        <img class="company-logo" src="/bombbomb.png" alt="BombBomb Logo" />
      </div>
    </a>
    <div class="job-details">
      <div class="company">
        <p class="label">Company</p>
        <p class="company-name">BombBomb</p>
      </div>
      <div class="title">
        <p class="label">Title</p>
        <p class="job-title">Senior Software Engineer</p>
      </div>
      <div class="timeline">
        <p class="label">Timeline</p>
        <p class="time">2021 - 2016</p>
      </div>
      <div class="highlights">
        <p class="label">Highlights</p>
        <ul class="accomplishments">
          <li>
            Architected access level infrastructure for rapid feature set
            management across products.
          </li>
          <li>
            Managed permutational growth loop experiments across several systems
            to increase product conversion and usage.
          </li>
          <li>
            Consolidated RESTful API endpoints, increased test coverage, and
            centralized process for flexible billing scenarios.
          </li>
          <li>
            Maintained billing system responsible for over 1M successful
            transactions annually.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- <script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { MotionPathPlugin } from "gsap/all";
  gsap.registerPlugin(MotionPathPlugin);
  gsap.registerPlugin(ScrollTrigger);

  gsap.defaults({
    ease: "power2.in",
    duration: 0.5,
  });

  let t2 = gsap.timeline({
    scrollTrigger: {
      trigger: "#experiencePanel",
      toggleActions: "play none none none",
      pin: true,
      start: "top top",
      end: "+=2000",
    },
  });
  t2.from(".job-container", {
    opacity: 0,
    y: 100,
    stagger: 0.2,
  });
</script> -->
