---
import "../styles/_fun.scss";
---

<section class="fun-panel" id="funPanel">
  <!-- <h2 class="fun-headline">Selected Projects</h2> -->
  <div class="project-container">
    <h2 class="fun-headline">Selected Projects</h2>
    <a class="project-box" href="https://compozer.netlify.app/" target="_blank">
      <div class="logo-wrapper">
        <img class="project-logo" src="/compozer.png" alt="AudiencePlus Logo" />
      </div>
      <h3>Compozer</h3>
    </a>

    <a class="project-box" href="https://redackt.netlify.app/" target="_blank">
      <div class="logo-wrapper">
        <img class="project-logo" src="/redackt.png" alt="AudiencePlus Logo" />
      </div>
      <h3>Redackt</h3>
    </a>

    <a class="project-box" href="/three" target="_blank">
      <div class="logo-wrapper">
        <img
          class="project-logo"
          src="/portfolio-animation.png"
          alt="AudiencePlus Logo"
        />
      </div>
      <h3>Portfolio Animation</h3>
    </a>
  </div>
</section>
