<div class="orbs">
  <div class="orb-1"><div class="round-orb"></div></div>
  <div class="orb-2"><div class="oval-orb"></div></div>
  <div class="orb-3"><div class="round-orb"></div></div>
  <div class="orb-4"><div class="oval-orb"></div></div>
</div>
